section {
    display: -webkit-flex;
    display: flex;
    background-color:rgba(69, 209, 69, 0.596);
  }
  nav {
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    background: linear-gradient(red,black);
    padding: 20px;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  article {
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    background-color: #42e0e6;
    padding: 10px;
  }
  
  
  